/*importing the font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
/*base margin padding and border*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/*main elements stylings*/

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    background-color: #303030;
    background-image: url("/assets/images/bodybackground.jpg");
}

h1,h2 {
    font-family: roboto light 300;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #a6ebfc;
    font-size: 1.3em;
}

h3 {
    font-family: "Oxygen", sans-serif;
    font-size: 1.2em;
    font-weight: bold;
}

p {
    padding: 1.1%;
}



/*-----header----*/
header {
    width: 100vw;
    height: 50px;
    display: flex;
    position: fixed;
    background-color: #5E5E5E80;
    padding: 0 20px;
    justify-content: space-between;
    z-index: 1;
}

nav {
    align-items: center;
    justify-content: center;
    display: flex;
}

/*--------------------------------nav bar-------------------------------*/
/*---------------------------------logo---------------------------------*/
#logo {
    align-items: center;
    justify-content: center;
    display: flex;

}

#logo img {
    
    align-items: center;
    justify-content: center;
    display: flex;
}
/*---------------------------------menu----------------------------------*/
/*-----menu items-----*/
#menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu li {
    padding: 5px;
    margin-right: 1%;
    display: flex;
    align-items: center;
}

#menu a {
    text-decoration: none;
    color: inherit;
    font-family:"Oxygen", sans-serif;
    font-weight: 500;
}

#menu a:hover {
    color: #a6ebfc;
    text-decoration: none;
    transform: scale(1.1);    
}

#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
  }
  
  #hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .open .bar2 {
    opacity: 0;
  }
  
  .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }
  
  .open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
  }
  
  .mobile-menu li {
    margin-bottom: 10px;
    color: inherit;
    list-style: none;
  }

  .mobile-menu a {
    text-decoration: none;
    color: inherit;
    font-family:"Oxygen", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
  }

  
  @media only screen and (max-width: 600px) {
    header nav {
      display: none;
    }
  
    #hamburger-icon {
      display: block;
    }
  }
/*------Hero video--------*/
#herovideo {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 0;

}


/*adding the general font style and color to the body*/




button {
    width: auto;
    height: auto;
    border: 1px solid #303030;
    border-radius: 25px;
    text-align: center;
    opacity: 0.5;
    padding: 0.5%;
    color: white;
}

button a {
    text-decoration: none;
    color: inherit;
    font-size: 1.5em;    
}

button input {
    text-decoration: none;
    color: inherit;
    font-size: 1.5em; 
}

button input:hover {
    color: #a6ebfc;
}


textarea  {
    height: 25%;
    width: 100%;
    border: 2px solid #5E5E5E;
    border-radius: 4px;
    background-color: inherit;
    resize: none;
    margin: 2%;
}

/*classes*/
/*standard div style*/
.box {
    width: 100%;
    text-align: center;
    display: block;
    color: inherit;
    position: relative;
    margin-bottom: 3%;
}
/*images in the standard div styling*/
.box img {
    display: inline;
    width: 25%;
    margin: 1%;
    border-radius: 5%;
    border: #919191 3px solid; 
    position: relative; 
}
/*list items inside standard divs*/
.box li {
    list-style: none;
    padding: 1%;
    
}


.quote-link {
    text-align: center;
    margin: 3%;
    display: block;
}

.quote-link a {
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    color: inherit;
}

.quote-link a:hover {
    color: #a6ebfc;   
}

.dark-overlay {
    background-color: #2e2d2d;
    opacity: 0.5;
    margin: 0 2% 0 2%; 
}

/*id stles*/










#toptext {
    position: absolute;
    z-index: 2;
    top: 50%;
    display: block;
    color: inherit;
    top: 50%;
    width: 100%;
 }

 #materials {
    background-image: url("/assets/images/materials.jpg");
    background-size: cover;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    text-align: left;
    
 }

 #materials ul {
    margin-left: 2%;
 }

 #materials li {
    margin-left: 1.1%;
    padding: 0;
 }

 #material-list-styling {
    margin: 2% 0 2% 10%;
}

/*styling the footer section*/
footer {
    height: 150px;
    display: inline;
    margin: 70px;
    position: relative;
    
 
}
/*footer links styling*/
#social-links {
    text-align: center;
    margin: inherit;
}
    
#social-links li {
        display: inline;
        padding: 5%;   
}
    
#social-links i {
        font-size: 160%;
        text-align: center;
        color: #5E5E5E;
}

#social-links i:hover {
    color: #a6ebfc;
}

.form-box {
    background-color: inherit;
    background-size: cover;
    height: 100vh;
    clear: left;
    background-image: url("/assets/images/contactformbackground.jpg");   
}

.quotation {
    padding: 10%;
    height: 50%;
    width: 50%;
    background-color: #2e2d2d;
    margin: 5% 15% 5% 15%;
    position: absolute;
    border-radius: 3%;
    border: 1px solid #c9c3c3;
    display: absolute;
    top: 10%;
}

textarea {
    display: block;
    margin: 0 auto;
    width: auto;
    height: auto;
    position: relative;
}

.input-text {
    margin: 2%;
    border: black solid 1px;
    display: block;
    width: 75%;
    height: 10%;
    
}

.gallery {
    column-count: 3;
    clear: both;
    line-height: 1.5;
    column-gap: 5px;
    
}

.gallery img {
    width: 100%;
}
    

.about-us-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Roboto Condensed', sans-serif;
      }
      
.about-us-container h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
      }
      
.about-us-container p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
      }